html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(confetti.jpg);
  background-position: center;
  background-size: cover;

}

#number-display-text {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 10px;
}

button {
  background: purple;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer; 
}

#counter-container {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 30px 50px; 
  border-radius: 20px; 
}